body {
    background:            linear-gradient(to bottom, #f5f5f5 0%, #ededed  100%);  
    background-attachment: fixed;
    --blue1: rgb(0, 150, 255);
    --blue2: rgb(0, 120, 210);
    --blue3: rgb(0, 130, 210);
    --blue4: rgb(131, 188, 231);
    --pointer-color: var(--blue2); 

    --nav-bar-height: 50px;
}

.nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: var(--nav-bar-height);
    display: flex;
    align-items: center;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    background: linear-gradient(270deg, var(--blue2) 0%, var(--blue3) 100%); 
}

.nav-bar .flashchess-org {
    color: white;
    font-size: 1.4em;
    font-family: Segoe UI;
    font-weight: 400;

    height: 1.4em;
    width: fit-content;
    margin-left: 10px;
}

.content-container {
    margin-top: var(--nav-bar-height);
}