body {
    background:            linear-gradient(to bottom, #f5f5f5 0%, #ededed  100%);  
    background-attachment: fixed;
    --blue1: rgb(0, 150, 255);
    --blue2: #0078d4;
    --pointer-color: var(--blue2); 
}