.newFlashcard-form-box {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.newFlashcard-form { 
    height: 350px;
    min-width: 490px;
    width: 90vw;                               /* I don't think it's right. */
    max-width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #2b2b2b;
    font-size: 20px;
    text-shadow: 0 1px 0 #fff;
}

.newFlashcard-form .param {
    text-align: center;
    font-size: 1.25em;
}

.newFlashcard-form .pgn-text {
    display: flex;
    align-items: flex-end;
}

.newFlashcard-form .link {
    font-size: 18px;
}

.newFlashcard-form .pd-textarea { 
    width: 99%;
    height: 40px;
    resize: none;

    border-radius: 5px;
}

.newFlashcard-form .title-textarea { 
    height: 17px;
}

.newFlashcard-form .pgn-textarea {
    height: 60px;
}

.newFlashcard-form .move-input {
    width: 50px;
    height: 16px;
    border-width: 1px;
    border-top-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-right-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-bottom-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-left-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 5px;
}

.newFlashcard-form .label-parts { 
    display: flex;
    justify-content: space-between;
}

.newFlashcard-form select { 
    width: 60px;
    height: 20px;
    border-radius: 5px;
}

.newFlashcard-form button {
    align-self: center;
    margin-top: 5px;
}