button {
    padding: 8px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 10;
    border-radius: 8px;
    cursor: pointer;

    width: 80px;
}

/* Top Line */
.top-line { 
    display: flex;
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;
    /* background-color: #ce9313; */
}

.sColor { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
} 

.r {
    /* background-color: red; */
    width: 80px;
    height: 67px;
}

.b {
    /* background-color: blue; */
    min-width: 200px;
    flex-grow: 1;
}

.g {
    /* background-color: green; */
    width: 80px;
}

.title {
    color: #4d4d4d;
    font-size: 40px;
    text-shadow: 0 1px 0 #fff;
    /* font-family: 'Noto Sans', Sans-Serif; */

    padding: 10px 20px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    background-color: #dadada;
}

.title-box { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ////////////////////////////////////////////// */

/* Main Line */
.box-chessboard-and-pgnprint {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.block {
    flex: 32%;
    width: 32vw;
    height: 33vw;
}
/* ////////////////////////////////////////////// */

.descriptionTitle {
    color: #4d4d4d;
    font-size: 30px;
    margin-bottom: 10px;
}

.backgr {
    background-color: #dadada;
    margin-left: 10px;
}

.buttonBox {
    width: 20vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.gj {
    margin: auto;
    text-align: center;
    color: #ce9313;
    font-size: 40px;
    text-shadow: 0 1px 0 rgb(53, 53, 53);
}