.not-found {
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;

    font-size: 30px;
    font-family: "Inter", sans-serif;
}

.not-found .sorry{
    margin-bottom: 20px;
}

.not-found .cant-find{
    margin-bottom: 20px;
    font-weight:bolder;
}

.not-found .suggestion{
    font-size: 20px;
    color: rgb(100, 100, 100);
}